{{!< default}}

<header role="banner">
    <div class="wrap">
        <a href="{{@blog.url}}"><img style="width:65%;max-height:400px" src="https://github.com/inedit-reporter/inedit-reporter.github.io/raw/master/images/Inedit-reporter-head.png" alt="{{@blog.title}}"></a>
        <hr><br>
    </div>
</header>

{{> "loop"}}

{{> "footer"}}